<!DOCTYPE html>
<html lang="en">
<head>

  @@include('meta/_other.html')

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet" type="text/css" />

  <title>Document</title>
  <style>
    @@include('style/_base.css')
    @@include('style/_grid.css')
    @@include('style/_buttons.css')
    @@include('style/_header.css')
  </style>
</head>
<body>
  <main>
    @@include('header/_standard-header.html')
    <section>
      <div class="site-width">
        <h1>Blank Template</h1>
      </div>
    </section>
  </main>
</body>
</html>
