<!DOCTYPE html>
<html lang="en">
<head>

  @@include('meta/_other.html')

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet" type="text/css" />

  <title>Document</title>
  <style>
    @@include('style/_base.css')
    @@include('style/_grid.css')
    @@include('style/_buttons.css')
    @@include('style/_header.css')

    ul li {
      display: inline-block;
      margin-right: 1rem;
    }
  </style>
</head>
<body>
  <main>
    <header>
      <div class="site-width">
        <div class="half">
          <div>logo</div>
          <div>number</div>
        </div>
      </div>
    </header>
    <section>
      <div class="site-width">
        <ul>
          <li><a href="/blank-template.html" class="btn-primary">Blank Template</a></li>
          <li><a href="#0" class="btn-outline">Button Outline</a></li>
          <li><a href="#0" class="btn-arrow">Button Arrow</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="site-width">
        <div class="half">
          <div style="background-color: rgba(0,0,0,0.1);">One of Two</div>
          <div style="background-color: rgba(0,0,0,0.1);">Two of Two</div>
        </div>
        <div class="third">
          <div style="background-color: rgba(0,0,0,0.1);">One of Three</div>
          <div style="background-color: rgba(0,0,0,0.1);">Two of Three</div>
          <div style="background-color: rgba(0,0,0,0.1);">Three of Three</div>
        </div>
        <div class="fourth">
          <div style="background-color: rgba(0,0,0,0.1);">One of Four</div>
          <div style="background-color: rgba(0,0,0,0.1);">Two of Four</div>
          <div style="background-color: rgba(0,0,0,0.1);">Three of Four</div>
          <div style="background-color: rgba(0,0,0,0.1);">Four of Four</div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
