<!DOCTYPE html>
<html lang="en">
<head>

  @@include('meta/_other.html')

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet" type="text/css" />

  <title>Document</title>
  <style>
    @@include('style/_base.css')
    @@include('style/_grid.css')
    @@include('style/_forms.css')
    @@include('style/_buttons.css')
    @@include('style/_header.css')
    @@include('style/_footer.css')
  </style>
</head>
<body>
  @@include('header/_standard-header.html')
  <main>
    <section>
      <div class="site-width">
        <ul>
          <li><a href="/blank-template.html">Blank Template</a></li>
          <li><a href="/basic-offer.html">Basic Offer</a></li>
          <li><a href="/basic-thank-you.html">Basic Thank You</a></li>
          <li><a href="/event.html">Event</a></li>
          <li><a href="/event-thank-you.html">Event Thank You</a></li>
          <li><a href="/resource-offer.html">Resource Offer</a></li>
          <li><a href="/resource-offer-image-headline.html">Resource Offer Image Headline</a></li>
        </ul>
      </div>
    </section>
  </main>
  <script>
    window.onload = getScripts;

    function getScripts() {
      @@include('scripts/_current-year.js')
    }
  </script>
</body>
</html>
