<!DOCTYPE html>
<html lang="en">
<head>

  @@include('meta/_other.html')

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet" type="text/css" />

  <title>Document</title>
  <style>
    @@include('style/_base.css')
    @@include('style/_grid.css')
    @@include('style/_buttons.css')
    @@include('style/_header.css')

    pre {
      display: none;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f0f0f0;
      background-image: linear-gradient(#fff, #f0f0f0);
      padding: 2rem;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      margin-bottom: 2rem;
    }
    .site-width > h2 {
      /*background-color: #ed4c06;*/
      /*color: #fff;*/
      /*border-radius: 5px;*/

    }
    .centered {
      text-align: center;
      padding: 0 0 1rem;
      margin: 0 0 1rem;
      border-bottom: 1px solid #ccc;
    }
    .centered h2,
    .centered p {
      margin-bottom: 0;
    }
    .example-is-open + pre {
      display: block;
    }
  </style>
</head>
<body>
  <main>
    @@include('header/_standard-header.html')
    <section>
      <div class="site-width">
        <ul>
          <li><a href="/blank-template.html" class="btn-primary">Blank Template</a></li>
          <li><a href="#0" class="btn-outline">Button Outline</a></li>
          <li><a href="#0" class="btn-arrow">Button Arrow</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="site-width">
        <div class="centered">
          <h2>The Grid</h2>
          <p>For code examples, click the element you want to see.</p>
        </div>
        <h3>Standard Grid</h3>
        <div class="has-code-example">
          <div class="half">
            <div style="background-color: #42b0d8; color: #fff; text-align: center; padding: 1rem;">One of Two</div>
            <div style="background-color: #33ab40; color: #fff; text-align: center; padding: 1rem;">Two of Two</div>
          </div>
        </div>
<pre><code>&lt;div class="half"&gt;
  &lt;div&gt;One of Two&lt;/div&gt;
  &lt;div&gt;Two of Two&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="has-code-example">
          <div class="third">
            <div style="background-color: #42b0d8; color: #fff; text-align: center; padding: 1rem;">One of Three</div>
            <div style="background-color: #33ab40; color: #fff; text-align: center; padding: 1rem;">Two of Three</div>
            <div style="background-color: #b949f5; color: #fff; text-align: center; padding: 1rem;">Three of Three</div>
          </div>
        </div>
<pre><code>&lt;div class="third"&gt;
  &lt;div&gt;One of Three&lt;/div&gt;
  &lt;div&gt;Two of Three&lt;/div&gt;
  &lt;div&gt;Three of Three&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="has-code-example">
          <div class="fourth">
            <div style="background-color: #42b0d8; color: #fff; text-align: center; padding: 1rem;">One of Four</div>
            <div style="background-color: #33ab40; color: #fff; text-align: center; padding: 1rem;">Two of Four</div>
            <div style="background-color: #b949f5; color: #fff; text-align: center; padding: 1rem;">Three of Four</div>
            <div style="background-color: #fac500; color: #fff; text-align: center; padding: 1rem;">Four of Four</div>
          </div>
        </div>
<pre><code>&lt;div class="fourth"&gt;
  &lt;div&gt;One of Four&lt;/div&gt;
  &lt;div&gt;Two of Four&lt;/div&gt;
  &lt;div&gt;Three of Four&lt;/div&gt;
  &lt;div&gt;Four of Four&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="has-code-example">
          <div class="two-third">
            <div style="background-color: #42b0d8; color: #fff; text-align: center; padding: 1rem;">One of Two</div>
            <div style="background-color: #33ab40; color: #fff; text-align: center; padding: 1rem;">Two of Two</div>
          </div>
        </div>
<pre><code>&lt;div class="two-third"&gt;
  &lt;div&gt;One of Two&lt;/div&gt;
  &lt;div&gt;Two of Two&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="has-code-example">
          <div class="two-third-reversed">
            <div style="background-color: #42b0d8; color: #fff; text-align: center; padding: 1rem;">One of Two</div>
            <div style="background-color: #33ab40; color: #fff; text-align: center; padding: 1rem;">Two of Two</div>
          </div>
        </div>
<pre><code>&lt;div class="two-third-reversed"&gt;
  &lt;div&gt;One of Two&lt;/div&gt;
  &lt;div&gt;Two of Two&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <h3>Stack Order Grid</h3>
        <div class="has-code-example">
          <div class="half-stack">
            <div style="background-color: #42b0d8; color: #fff; text-align: center; padding: 1rem;">One of Two</div>
            <div style="background-color: #33ab40; color: #fff; text-align: center; padding: 1rem;">Two of Two</div>
          </div>
        </div>
<pre><code>&lt;div class="half-stack"&gt;
  &lt;div&gt;One of Two&lt;/div&gt;
  &lt;div&gt;Two of Two&lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </section>
    <section>
      <div class="site-width">
        <div class="centered">
          <h2>Typography</h2>
        </div>
        <h1>Heading One</h1>
        <div>
          <h2>Heading Two</h2>
        </div>
        <h3>Heading Three</h3>
        <h4>Heading Four</h4>
        <h5>Heading Five</h5>
        <h6>Heading Six</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam distinctio architecto neque ratione at, aliquam, omnis porro voluptatibus quod inventore corrupti. Quidem nobis non aliquam.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, labore!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quo.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, harum.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, possimus.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, voluptatum!</li>
        </ul>
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit distinctio ex quidem nemo veritatis possimus. Atque temporibus adipisci ex non voluptatem voluptates, sunt, obcaecati. Dicta.
          <p><div style="width: 100px; height: 100px; border-radius: 50%; background-color: blue; float: left; margin-right: 1rem;"></div><strong>First Last</strong> <em>Title</em> Company</p>
        </blockquote>
      </div>
    </section>
    <section>
      <div class="site-width">
        <div class="half">
          <div>something</div>
          <div>
            <blockquote>
              Something
            </blockquote>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    (function() {
      var codeExamples = document.querySelectorAll('.has-code-example');
      for (var i = 0; i < codeExamples.length; i++) {
        codeExamples[i].addEventListener('click', function() {
          this.classList.toggle('example-is-open');
        });
      }
    })();
  </script>
</body>
</html>
