<!--
    =========================
    STANDARD HEADER
    =========================
    -->
    <header>
      <div class="site-width">
        <div class="half">
          <div>
            <a href="https://octiv.com" class="site-logo"></a>
          </div>
          <div>
            <a href="tel:844-936-2848" class="header-number-container" title="Give Us A Call!"><img src="http://lp.octiv.com/rs/625-MXY-689/images/phone.png" alt=""><strong>844.936.2848</strong></a>
          </div>
        </div>
      </div>
    </header>
