<section class="pull-top">
  <div class="site-width">
    <div class="box">
      <div class="two-third-only">
        <div class="centered">
          <p class="font-bump">Thanks for reconnecting with us! Fill in the form, and you’ll be entered to win a $500 Visa gift card as a token of our gratitude.</p>
        </div>
      </div>
      <script src="//app-sj20.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1008"></form>
      <script>MktoForms2.loadForm("//app-sj20.marketo.com", "625-MXY-689", 1008);</script>
    </div>
  </div>
</section>
