/*
    =========================
    RESET & UTILITY CLASSES
    =========================
    */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html, body {
      font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 300;
      color: #000;
      text-align: left;
    }
    section {
      padding: 3rem 0;
    }
    hr {
      border: 0;
      border-top: 1px solid #ccc;
    }
    .site-width {
      width: calc(100% - 2rem);
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
    .centered {
      text-align: center;
    }
    @media screen and (min-width: 767px) {
      html, body {
        font-size: 18px;
      }
      section {
        padding: 6rem 0;
      }
      .site-width {
        width: calc(100% - 4rem);
      }
    }


    /*
    =========================
    TYPOGRAPHY
    =========================
    */
    h1, h2, h3, h4, h5, h6, p, ul {
      margin-bottom: 1rem;
    }
    h1, h2, h3, h4, h5, h6 {
      line-height: 0.8;
    }
    h1 {
      font-size: 1.75em;
    }
    h2 {
      font-size: 1.6em;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.45em;
      color: #ed4c06;
    }
    h4 {
      font-size: 1.3em;
    }
    h5 {
      font-size: 1.15em;
    }
    h6 {
      font-size: 1em;
    }
    ul li {
      margin-left: 1rem;
    }
    a {
      color: #ed4c06;
      text-decoration: none;
    }
    a[href^="tel"] {
      color: #000;
    }
    blockquote {
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f0f0f0;
      background-image: linear-gradient(#fff,#f0f0f0);
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      padding: 1rem;
      font-style: italic;
      font-size: 1.15em;
      line-height: 1.2;
    }
    blockquote p {
      margin-top: 1rem;
      font-style: initial;
      font-size: 0.85em;
      opacity: 0.65;
    }
    blockquote strong, blockquote b,
    blockquote em, blockquote i {
      display: block;
    }
    blockquote strong, blockquote b {
      font-size: 1.25em;
    }
    .font-bump {
      font-size: 1.15em;
    }
    @media screen and (min-width: 767px) {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.8em;
      }
      h3 {
        font-size: 1.6em;
      }
      h4 {
        font-size: 1.4em;
      }
      h5 {
        font-size: 1.2em;
      }
      h6 {
        font-size: 1em;
      }
      .font-bump {
        font-size: 1.25em;
      }
    }
