/*
    =========================
    BOX
    =========================
    */
    .box {
      background-color: #f0f0f0;
      background-image: linear-gradient(#fff, #f0f0f0);
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    .pull-top {
      margin-top: -6rem;
      margin-bottom: -2rem;
    }
    @media screen and (min-width: 767px) {
      .box {
        padding: 2rem;
      }
      .pull-top {
        margin-top: -10rem;
        margin-bottom: -4rem;
      }
    }
