/*
    ==============================
    HEADER
    ==============================
    */
    header {
      box-shadow: 0 0 25px rgba(0,0,0,0.15);
    }
    header .half div {
      margin-bottom: 0;
      text-align: center;
    }
    header .half div:last-child {
      margin-bottom: 2rem;
    }
    .site-logo {
      background-image: url(http://lp.octiv.com/rs/625-MXY-689/images/Octiv-Logo-Color.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 45px;
      margin: 2rem 0 1rem;
    }
    .header-number-container {
      display: flex;
      justify-content: center;
      font-size: 1.25em;
    }
    .header-number-container img {
      margin-right: 0.5rem;
      height: 25px;
    }
    @media screen and (min-width: 767px) {
      header .half div {
        text-align: initial;
      }
      header .half div:last-child {
        text-align: right;
        margin-bottom: 0;
      }
      .site-logo {
        background-position: initial;
        margin: 2rem 0 2rem;
      }
      .header-number-container {
        justify-content: flex-end;
      }
    }
